<!DOCTYPE html>
<html>

<head>
  <title>Complaint Management System</title>
  <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
  <header>
    <center>
      <h1>Complaint Management System</h1>
    </center>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact Us</a></li>

        <li class="login"><a href="/agent/login">Agent Login</a></li>
        <li class="login"><a href="/user/login">User Login</a></li>
        <li class="login"><a href="/admin/login">Admin Login</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <center>
      <h2>Welcome to our Complaint Management System</h2>
      <img src="../static/assets/home.png" alt="Complaint Management System">
      <p>We are here to help you resolve your complaints and improve your customer satisfaction.</p>
      <a href="/complaint">Get started by submitting a complaint</a>
    </center>

  </main>
  <footer>
    <p>&copy; 2023 Complaint Management System. All rights reserved.</p>
  </footer>
</body>

</html>